.benefit {
    width: 370px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.benefit:first-child {
    margin-left: 0;
}

.benefit__icon {
    width: 70px;
    height: 70px;
    box-shadow: -9px 10px 0 0 #2b2a2a2e;
    background-color: #373435;
    border-radius: 8px 0 8px 8px;

    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.benefit__icon-container {
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
}

.benefit__icon > img {
    width: 30px;
    height: 30px;
}

.benefit__info {
    width: 265px;
    margin-left: 28px;
    display: inline-block;
}

.benefit__title {
    width: 200px;
    height: 60px;

    font: bold 16px/21px SourceSansPro;
    color: #373435;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.benefit__desc {
    padding-bottom: 19px;
    font: 400 14px/23px SourceSansPro;
    color: #676364;
}
