.contacts {
    height: 130px;
    width: 1170px;
    margin: auto;
    padding-top: 35px;

    color: #ebebeb;
    font: 200 15px/26px SourceSansPro;
    text-align: center;
    letter-spacing: 1px;
}
