.services {
    margin-top: 46px;
}

.services__desc {
    margin-top: 6px;
}

.services__cards {
    margin: 46px auto auto;
    width: fit-content;

    display: table;
    border-collapse: separate;
    border-spacing: 30px 0;
}

.services__separator {
    margin-top: 63px;
}
