.benefit {
    width: 370px;
    display: flex;
    flex-direction: row;
}

.benefit:first-child {
    margin-left: 0;
}

.benefit__icon {
    width: 70px;
    height: 70px;
    box-shadow: -9px 10px 0px 0px #2b2a2a2e;
    background-color: #373435;
    border-radius: 8px 0 8px 8px;

    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.benefit__icon {
    margin-top: 5px;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit_image {
    width: 30px;
    height: 30px;
}

.benefit__info {
    width: 265px;
    margin-left: 28px;
    display: inline-block;
}

.benefit__title {
    width: 200px;
    font: bold 16px SourceSansPro;
    color: #373435;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.benefit__desc {
    margin-top: 20px;
    margin-bottom: 25px;
    font: 400 14px/1.5 SourceSansPro;
    color: #676364;
}
