.about {
    height: 367px;
    border-bottom: 1px solid #c2c2c2;
}

.about__title {
    margin: 52px auto auto;
    text-align: center;
    font: bold 32px SourceSansPro;
    letter-spacing: 2px;
    color: #373435;
    text-transform: uppercase;
}

.about__desc {
    margin-top: 7px;
    font: 18px SourceSansPro;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    color: #676364;
}

.about__benefits {
    margin: 55px auto auto;
}

.benefit {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.benefit:first-child {
    margin: 0px;
}

.benefit__icon {
    width: 70px;
    height: 70px;
    box-shadow: -9px 10px 0px 0px #2b2a2a2e;
    background-color: #373435;
    border-radius: 8px 0 8px 8px;

    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.benefit__icon-container {
    margin-top: 4px;
    vertical-align: top;
    display: inline-block;
}

.benefit__icon > img {
    width: 30px;
    height: 30px;
}

.benefit__info {
    margin-left: 30px;
    display: inline-block;
}

.benefit__title {
    font: bold 16px SourceSansPro;
    color: #373435;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.benefit__desc {
    margin-top: 20px;
    font: 400 14px/1.4 SourceSansPro;
    letter-spacing: 0px;
    color: #676364;
}

.more__link {
    margin-top: 29px;
    font: bold 14px SourceSansPro;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.more__link-arrow {
    color: #ed3237;
    font: bold 14px SourceSansPro;
    font-stretch: extra-condensed;
}
